{% extends 'main.html'%}

{% block content%}
{%if page == 'login'%}
   <div>
    <form method="POST" action="">
        {%csrf_token%}

        <lable>Username:</lable>
        <input type="text" name="username" placeholder="Username" required>

        <lable>Password:</lable>
        <input type="password" name="password" placeholder="Password" required>
        
        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? 
        <a href="{%url 'register'%}">Sign up</a>
    </p>

   </div>
{%else %}
   <div>
    <form method="POST" action="">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>

    <p>Already signup? 
        <a href="{%url 'login'%}">Login</a>
    </p>

   </div>
{%endif%}

{%endblock content%}